{% set img = page.media.images|first %}



{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% else %}
		<div class="blog-header">
		{% endif %}
		<div class="hero-image" style="background-image: url({{ img.url }});">
    		<div class="hero-text">
    			<h1 id="main-title">{{ page.header.heading }}</h1>
    			<p>{{ page.header.subheading }}</p>
				<a><button class="btn-styled margin-top-20">Send free enquiry <i class="fa fa-envelope fa-lg "></i></button></a>
  			</div>
		</div>
			{{ page.content }}
		</div>

			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="content-wrapper blog-content-list grid pure-g">
						<div id="listing" class="block pure-u-2-3 h-feed">
							{% for child in collection %}
								{% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
							{% endfor %}

							{% if config.plugins.pagination.enabled and collection.params.pagination %}
								{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
							{% endif %}
						</div>
					</div>
				</div> <!-- eof col -->
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<div class="content-wrapper blog-content-list grid pure-g">
						<h1 id="recent-posts-title">Recent</h1>
						<div id="listing" class="block pure-u-2-3 h-feed">
							{% for p in page.find('/blog').children.order('date', 'desc').slice(0,5) %}
								{% if loop.index <= 3 %}
									{% include 'partials/blog_item.html.twig' with {'blog':page, 'page':p, 'truncate':true} %}
								{% endif %}
							{% endfor %}
						</div>
					</div>

				</div> 
			</div> <!-- eof row -->
		</div> <!-- eof container -->
	{% endblock %}

{% endembed %}


