<div class="container-fluid section bg-white">


        <!-- Entire content -->
        <div class="row">

            <!-- main-blog column -->
            <div class="col-md-8 border-right">

            
                {% for post in header.posts %}
                    <!-- Img -->
                    <div class="row">
                    
                        <!-- Full Col -->
                        <div class="col-md-12 blog-image">
                         <a href="{{ post.url }}">
                            {% if page.header.image != '' %}
                                {{ page.media.images[post.image].html('', post.heading) }}
                            {% endif %}
                            </a>
                        </div>
                    </div>

                    <!-- Title -->
                    <div class="row">
                        <!-- Full Col -->
                        <div class="col-md-12 padding-top-20">
                            <h1>{{post.heading}}</h1>
                            <hr class="hr-short-red">
                        </div>
                    </div>

                    <!-- Date and author -->
                    <div class="row padding-top-20">
                        <!-- Full Col -->
                        <div class="col-sm-4">
                                <button class="blog-date">January 29th 2018</button>

                        </div>

                        <div class="col-sm-4">
                                   <p>By: {{post.author}}</p>
                        </div> 
                    </div>

                    <!-- Text -->
                    <div class="row padding-top-20">
                        <!-- Full Col -->
                        <div class="col-md-12">
                        <article class="blog-article">
                            <p>{{post.text}}}</p>
                            </article>
                        </div>
                    </div>

                     <!-- Cont reading button -->
                            <div class="row padding-top-20">
                                 <div class="col-md-12">
                                    <button class="cont-reading-btn">Continue Reading...</button>
                                </div>
                            </div>
                        <hr class="hr-black">
                {% endfor %}

            </div> <!-- Eof main blog col -->


            <!-- Recent blog posts column -->
            <div class="col-md-4">
                <h1>Recent</h1>
                {% for post in header.posts %}
                    {% if loop.index <= 3 %}
                        <!-- Img -->
                            <div class="row">
                            
                                <!-- Full Col -->
                                <div class="col-md-12 blog-image">
                                    {% if page.header.image != '' %}
                                        {{ page.media.images[post.image].html() }}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Title -->
                            <div class="row">
                                <!-- Full Col -->
                                <div class="col-md-12 padding-top-20">
                                    <h1>{{post.heading}}</h1>
                                     <hr class="hr-short-red">
                                </div>
                            </div>

                            <!-- Date and author -->
                            <div class="row padding-top-20">
                                 <!-- Full Col -->
                                <div class="col-sm-4">
                                    <button class="blog-date">January 29th 2018</button>
                                </div>

                                <div class="col-sm-4">
                                   <p>By: {{post.author}}</p>
                                </div> 
                            </div>

                            <!-- Text -->
                            <div class="row  padding-top-20">
                                <!-- Full Col -->
                                <div class="col-md-12">
                                    <article class="blog-article recent-article">
                                        <p>{{post.text}}</p>
                                    </article>                                
                                </div>
                            </div>

                            <!-- Cont reading button -->
                            <div class="row padding-top-20">
                                <div class="col-md-12">
                                    <button class="cont-reading-btn">Continue Reading...</button>
                                </div>
                            </div>
                            <hr class="hr-black">
                        {% endif %}
                {% endfor %}
                </div> <!-- Eof recent posts col -->
            </div>
    
    </div> <!-- Eof entire content -->
</div><!-- Eof container -->